@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Oswald', sans-serif;
}


/* common styles */

.common-buttons {
    background-color: #91AB2B;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
}

body,
html {
    overflow-x: hidden;
}

.header_banner_color {
    background-color: #FFFBF0;
}

.banner-title-color {
    color: #FABE4C;
}

.img-background-color {
    background-color: #F1F1F1;
}

.section-height {
    min-height: 100%;
}

.cloth-section-text-color {
    color: #FABE4C;
}

.contact-logo {
    width: 78px;
    height: 82px;
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
    .cloth-section-mq {
        min-width: 100%;
    }
    .card-size {
        max-width: 100%;
    }
}